/* c-table
------------------------------------------------------------------- */
.c-table caption,
.c-table th,
.c-table td {
    padding: 10px;
    border-bottom: 1px solid #dadada;
}

.c-table th {
    text-transform: uppercase;
}


.c-table__total {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
    text-align: right;
}

@media (max-width: 767px) {
    .c-table {
        box-shadow: inset 0 0 9px 4px #d6d6d6;
    }

    .c-table__total {
        font-size: 16px;
        text-align: center;
        font-weight: 400;
    }


    .c-table tr {
        display: flex;
        flex-wrap: wrap;
        margin-top: 16px;
        border: 1px solid #dadada;
        border-bottom: 2px solid #dadada;
    }

    .c-table tr:first-of-type {
        margin-top: 0;
    }

    .c-table th {
        display: none;
    }

    .c-table td {
        line-height: 1.4;
        display: block;
        width: 100%;
        margin-bottom: -1px;
        text-align: center;
        box-sizing: border-box;
    }

    .c-table__count,
    .c-table__price,
    .c-table__remove {
        display: flex!important;
        align-items: center;
    }

    .c-table__count {
        justify-content: flex-start;
        flex: 1 1 30%;
    }

    .c-table__price {
        justify-content: center;
        flex: 1 1 30%;
    }

    .c-table__remove {
        justify-content: flex-end;
        flex: 1 1 20px;
    }
}

.c-table--overflow {
    overflow: auto;
}

.c-table--hover td {
    -webkit-transition: background-color .1s linear;
    -o-transition: background-color .1s linear;
    transition: background-color .1s linear;
}

.c-table--hover tr:hover td {
    background-color: #fdfde2;
}

.c-table--striped tr:nth-of-type(even) {
    background: #f3f3f3;
}

.c-table__img,
.c-table__count,
.c-table__price,
.c-table__remove {
    text-align: center;
}

.c-table__remove a:hover {
    color: #cd4449;
}

.c-table__link {
    font-weight: 600;
}

.c-table__link:hover {
    text-decoration: underline;
}

.c-table__quantity {
    font-size: 12px;
    font-weight: 600;
    color: #666;
}

.c-table__price {
    font-weight: 600;
}

.c-table__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

@media (max-width: 767px) {
    .c-table__footer {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.c-table--scroll {
    overflow: auto;
    max-height: 300px;
}

.c-modal .c-table {
    margin-top: 16px;
}

.c-table__name.name-cell {
    max-width: 650px;
}
