/* c-hamburger
------------------------------------------------------------------- */
.c-hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    width: 22px;
    height: 13px;
    margin-top: -1px;
    margin-right: 6px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .c-hamburger {
        height: 7px;
        width: 15px;
    }
}

.c-hamburger__row {
    width: 100%;
    height: 1px;
    background: #fff;
}

/* c-nav
------------------------------------------------------------------- */
@media (min-width: 1025px) {
    .c-nav {
        height: 100%;
    }

    .c-nav__menu {
        height: 100%;
    }
}
.c-nav__menu .select__wrap {
    display: none;
}
@media (max-width: 768px) {
    
    .c-nav__menu .select__wrap {
        display: flex;
    }
    .c-nav__selects{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
}
@media (max-width: 1024px) {
    .c-nav {
        position: fixed;
        z-index: 999;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        visibility: hidden;
        -webkit-transition: all .15s ease-in-out;
        -o-transition: all .15s ease-in-out;
        transition: all .15s ease-in-out;
        opacity: 0;
        background: rgba(0, 0, 0, .5);
    }

    .c-nav__menu {
        position: absolute;
        top: 0;
        left: -100%;
        overflow: auto;
        width: 260px;
        height: 100%;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        background: #fff;
    }

    .c-nav--open {
        visibility: visible;
        opacity: 1;
    }

    .c-nav--open .c-nav__menu {
        left: 0;
    }

    .c-nav__dropdown--1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }

    .c-nav__dropdown--2 {
        display: none;
        background: #f0f0f0;
        -webkit-box-shadow: inset 0 -2px 6px rgba(0, 0, 0, .1);
        box-shadow: inset 0 -2px 6px rgba(0, 0, 0, .1);
    }

    .c-nav__dropdown--2 .c-nav__icon {
        display: none;
    }

    /*     .c-catalog__level--arrow > .c-nav__link,
    .c-menu__link--arrow{
        pointer-events: none;
    } */
    .c-nav__link {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        min-height: 40px;
        padding: 0 10px;
        padding-right: 40px;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .c-nav__level--1.c-nav__level_has-sub > .c-nav__link > .c-nav__text {
        border-right: 1px solid #dadada;
        height: 100%;
        min-height: 40px;
        display: flex;
        align-items: center;
        padding: 5px 0;
    }
    .c-nav__level--1.c-nav__level_has-sub > .c-nav__icon {
        border-left: none;
        border-bottom: 1px solid #dadada;
    }

    .c-nav__link--1 {
        font-weight: 600;
        margin-bottom: -1px;
        border-bottom: 1px solid #dadada;
    }

    .c-nav__link--2 {
        height: 36px;
        padding-left: 36px;
    }

    .c-nav__link--3 {
        font-size: 12px;
        height: fit-content;
        padding-left: 50px;
        padding-bottom: 10px;
    }

    .c-nav__link.active {
        text-decoration: underline;
    }

    .c-nav__text {
        line-height: 1.2;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }

    .c-nav__img {
        position: relative;
        min-width: 20px;
        max-width: 20px;
        height: 100%;
        margin-right: 6px;
        min-height: 20px;
    }

    .c-nav__img img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }

    .c-nav__count {
        display: none;
    }

    .c-nav__icon:hover {
        background: #f0f0f0;
    }

    .c-nav__icon {
        font-size: 15px;
        position: absolute;
        top: 0px;
        right: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 40px;
        min-height: 41px;
        border-left: 1px solid #dadada;
        color: #5b3f97;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .c-nav__icon .icon {
        -webkit-transition: -webkit-transform .3s;
        -o-transition: transform .3s;
        transition: -webkit-transform .3s;
        transition: transform .3s;
        transition: transform .3s, -webkit-transform .3s;
    }

    .c-nav__icon.rotate .icon {
        -webkit-transform: rotate(90deg) translateZ(0);
        transform: rotate(90deg) translateZ(0);
    }
}

@media (max-width: 1024px) {
    .c-menu__link--1 .icon {
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .c-menu__link--1 .c-menu__icon.rotate .icon {
        -webkit-transform: rotate(0deg) translateZ(0);
        transform: rotate(0deg) translateZ(0);
    }

    .c-catalog__day {
        display: none;
    }
}


.c-menu .c-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 28px;
}

@media (max-width: 767px) {
    .c-menu .c-button {
        font-size: 14px;
        padding: 0 16px;
    }

    .c-menu .c-button {
        height: 24px;
    }
}

@media (min-width: 1025px) {
    .c-menu .c-button {
        display: none;
    }

    .c-nav__level_has-sub {
        position: relative;
    }

    .c-nav__level_has-sub .c-nav__link {
        padding-right: 20px;
    }

    .c-nav__level_has-sub .c-menu__icon {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
    }
}

/* c-menu
------------------------------------------------------------------- */
.c-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (min-width: 1025px) {
    .c-menu {
        height: 100%;
    }

    .c-menu__dropdown--1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .c-menu__dropdown--2,
    .c-menu__dropdown--3 {
        position: absolute;
        z-index: 9;
        min-width: 100%;
        max-width: 310px;
        background: #fff;
        -webkit-box-shadow: inset 0 1px 0 1px #dadada, inset 0 1px 2px rgba(0, 0, 0, .16);
        box-shadow: inset 0 1px 0 1px #dadada, inset 0 1px 2px rgba(0, 0, 0, .16);
    }

    .c-menu__dropdown--2 {
        top: 100%;
        z-index: 201;
        left: 0;
        visibility: hidden;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
        opacity: 0;
    }

    .c-menu__dropdown--3 {
        top: 0;
        left: 100%;
        visibility: hidden;
        margin-left: -1px;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
        opacity: 0;
    }

    .c-menu__level {
        position: relative;
        height: 100%;
    }

    .c-menu__level--1:hover .c-menu__link--1 {
        text-decoration: none;
        -webkit-box-shadow: inset 0 4px 10px rgba(0, 0, 0, .16);
        box-shadow: inset 0 4px 10px rgba(0, 0, 0, .16);
    }

    .c-menu__level--1:hover .c-menu__dropdown--2 {
        visibility: visible;
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
        opacity: 1;
    }

    .c-menu__level--2:hover .c-menu__link--2 {
        -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, .1);
        box-shadow: inset 0 0 10px rgba(0, 0, 0, .1);
    }

    .c-menu__level--2:hover .c-menu__dropdown--3 {
        visibility: visible;
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1);
        opacity: 1;
    }

    .c-menu__level--2,
    .c-menu__level--3 {
        border-bottom: 1px solid #dadada;
    }

    .c-menu__link {
        font-size: 16px;
        min-height: 36px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        padding: 0 12px;
        -webkit-transition: box-shadow .3s;
        -webkit-transition: -webkit-box-shadow .3s;
        -o-transition: box-shadow .3s;
        transition: -webkit-box-shadow .3s;
        transition: box-shadow .3s;
        transition: box-shadow .3s, -webkit-box-shadow .3s;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .c-menu__link--1.active {
        text-decoration: underline;
    }

    .c-menu__link--2,
    .c-menu__link--3 {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        min-height: 36px;
        padding: 0 12px;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .c-menu__link--2.active,
    .c-menu__link--3.active {
        -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, .1);
        box-shadow: inset 0 0 10px rgba(0, 0, 0, .1);
    }

    .c-menu__link--3:hover {
        -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, .1);
        box-shadow: inset 0 0 10px rgba(0, 0, 0, .1);
    }

    .c-menu__link.active {
        font-weight: 600;
    }

    .c-menu__icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .c-menu__icon .icon {
        font-size: 10px;
        margin-left: 6px;
    }
}

