/* c-goods
------------------------------------------------------------------- */
.c-goods {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}
.c-goods__item .rateit {
    margin: 0 auto;
    display: block;
    width: fit-content;
}
.c-goods__item,
.mini-item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    height: 100%;
    -webkit-transition: box-shadow .3s, border-color .3s;
    -webkit-transition: border-color .3s, -webkit-box-shadow .3s;
    -o-transition: box-shadow .3s, border-color .3s;
    transition: border-color .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border-color .3s;
    transition: box-shadow .3s, border-color .3s, -webkit-box-shadow .3s;
    border: 1px solid #dadada;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.c-goods__item .wrapper-mg-buy-click {
    margin-top: 10px;
}

@media(min-width: 767px) {
  .c-goods__item:hover {
    border-color: transparent;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
	}
}


.c-goods__left {
    padding: 10px;
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, .1);
    box-shadow: 0 4px 16px rgba(0, 0, 0, .1);
}

.c-goods__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 16px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.c-goods__right .c-buy__buttons > a {
    margin-bottom: 0;
}

.c-goods__right > * {
    margin-top: 10px;
}

@media (max-width: 767px) {
    .c-goods__right > * {
        margin-top: 10px;
    }

    .c-goods__right > *:first-child {
        margin-top: 0;
    }
}

.c-goods__img {
    position: relative;
    display: block;
    height: 200px;
}

.c-goods__img img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.c-goods__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
}

@media (max-width: 767px) {
    .c-goods__title {
        font-size: 16px;
    }
}

.c-goods__title:hover {
    text-decoration: underline;
}

.c-goods__price {
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media (max-width: 767px) {
    .c-goods__price {
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }
}

.c-goods__price--old {
    font-size: 16px;
    margin-right: 10px;
    color: #999;
}

@media (max-width: 767px) {
    .c-goods__price--old {
        font-size: 12px;
        margin-right: 0;
        margin-bottom: 4px;
    }
}

.c-goods__price--current {
    font-size: 20px;
    color: #cd4449;
}

@media (max-width: 1024px) {
    .c-goods__price--current {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .c-goods__price--current {
        font-size: 16px;
    }
}

.c-goods__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.c-goods__description {
    font-size: 16px;
    display: none;
    text-align: center;
}

@media (min-width: 768px) {
    .c-goods--list .c-goods__trigger {
        max-width: 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }

    .c-goods--list .c-goods__item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
    }

    .c-goods--list .c-goods__img {
        width: 300px;
    }

    .c-goods--list .c-goods__right {
        width: 100%;
        padding: 16px;
        padding-left: 26px;
    }

    .c-goods--list .c-goods__price {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .c-goods--list .c-goods__title {
        margin-top: 0;
        text-align: left;
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }

    .c-goods--list .c-goods__description {
        display: block;
        text-align: left;
    }

    .c-goods--list .c-goods__buttons a {
        max-width: 48%;
    }
}

@media(min-width: 767px) {
  	.c-carousel .c-goods__item:hover,
	.mini-item:hover {
    	-webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, .2);
    	box-shadow: inset 0 0 20px rgba(0, 0, 0, .2);
	}
}



@media (min-width: 1025px) {
    .l-body__index:not(.l-body__catalog) .c-goods .min-1025--4 {
        max-width: 25%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    }

    .l-body__index:not(.l-body__catalog) .c-goods--list .c-goods__trigger {
        max-width: 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }
}

/* c-ribbon
------------------------------------------------------------------- */
.c-ribbon {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.c-ribbon__new,
.c-ribbon__hit,
.c-ribbon__sale {
    font-weight: 600;
    position: absolute;
    top: -11px;
    width: 90px;
    padding: 6px 5px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.c-ribbon__new {
    right: -11px;
    background: #2ecc71;
}

.c-ribbon__hit {
    left: -11px;
    background: #f39c12;
}

.c-ribbon__sale {
    background: #f55;
    margin: auto;
    left: 0;
    right: 0;
}

.c-goods__item.mini-item form.property-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.c-goods__item.mini-item form.property-form .c-form {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.c-goods__item.mini-item form.property-form .buy-container {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

.c-goods__item.grid .c-goods__img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@media (max-width: 767px) {
    .products-wrapper .c-goods__trigger {
        padding-top: 30px;
    }
}