/* c-search
------------------------------------------------------------------- */
.c-search {
    width: 100%;
}

@media (min-width: 768px) {
    .c-search {
        position: relative;
    }
}

.c-search__form {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.c-search [type='search'] {
    font-size: 16px;
    -webkit-transition: box-shadow .3s;
    -webkit-transition: -webkit-box-shadow .3s;
    -o-transition: box-shadow .3s;
    transition: -webkit-box-shadow .3s;
    transition: box-shadow .3s;
    transition: box-shadow .3s, -webkit-box-shadow .3s;
    border: 0!important;
    border-radius: 30px;
    background: -webkit-linear-gradient(left, #ece9e6, #fff);
    background: -webkit-gradient(linear, left top, right top, from(#ece9e6), to(#fff));
    background: -o-linear-gradient(left, #ece9e6, #fff);
    background: linear-gradient(to right, #ece9e6, #fff);
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1!important;
    order: -1!important;
}

@media (max-width: 767px) {
    .c-search [type='search'] {
        font-size: 13px;
    }
}

.c-search [type='search']:focus {
    -webkit-box-shadow: inset 0 4px 14px rgba(0, 0, 0, .36)!important;
    box-shadow: inset 0 4px 14px rgba(0, 0, 0, .36)!important;
}

.c-search__button {
    font-size: 16px!important;
    font-weight: 600;
    margin-left: 6px;
    padding: 0 40px!important;
    color: #000!important;
    background: -webkit-linear-gradient(left, #ece9e6, #fff)!important;
    background: -webkit-gradient(linear, left top, right top, from(#ece9e6), to(#fff))!important;
    background: -o-linear-gradient(left, #ece9e6, #fff)!important;
    background: linear-gradient(to right, #ece9e6, #fff)!important;
}

@media (max-width: 767px) {
    .c-search__button {
        font-size: 0!important;
        position: absolute;
        top: 0;
        right: 0;
        width: 36px!important;
        margin: 0;
        padding: 0!important;
    }
}

.c-search__button .icon {
    font-size: 18px;
}

.c-search__button-icon {
    display: none;
}

@media (min-width: 768px) {
    .c-search__button .icon {
        display: none;
    }
}

.c-search__dropdown {
    position: absolute;
    z-index: 99;
    top: 100%;
    right: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    max-height: 300px;
    background: #fff;
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, .5);
    box-shadow: 0 4px 10px rgba(0, 0, 0, .5);
}

@media (min-width: 768px) {
    .c-search__dropdown {
        margin-top: 10px;
        border-radius: 10px;
    }
}

.c-search__dropdown ul {
    overflow: auto;
    max-height: 300px;
}

.c-search__dropdown li {
    border-top: 1px solid #dadada;
}

.c-search__dropdown li:first-child {
    border-top: 0;
}

.c-search__dropdown a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 60px;
    padding: 10px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.c-search__dropdown a:hover {
    -webkit-box-shadow: inset 0 5px 10px rgba(0, 0, 0, .1);
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, .1);
}

.c-search__dropdown .fast-result-img {
    position: relative;
    min-width: 60px;
    max-width: 60px;
    height: 100%;
    margin-right: 16px;
}

.c-search__dropdown .fast-result-img img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.c-search__dropdown .fast-result-info span {
    font-size: 12px;
    font-weight: 600;
    display: block;
    width: 100%;
    color: #cd4449;
}

.c-search__dropdown .fast-result-info span.variant-text {
    font-weight: 400;
    color: #666;
}
