.gallery-edit a {
    color: black !important;
    text-decoration: none;
    outline: none;
}

#mg-gallery {
    width: 100%;
    margin: 20px auto;
}

#mg-gallery .pic div {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#mg-gallery .pic {
    display: block;
    height: 100%;
}

#mg-gallery div.nomargin {
    margin-right: 0;
}

#mg-gallery .mg-gallery-list {
    list-style: none;
    padding: 0;
    font-size: 0;
    margin: -5px;
}
#mg-gallery ul.mg-gallery-list li {
    width: 100% !important;
    margin: 0 !important;
}
#mg-gallery ul.mg-gallery-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 0 auto;
    justify-content: center;
}
#mg-gallery {
    padding: 0 16px;
}

@media (max-width: 991px) {
    #mg-gallery ul.mg-gallery-list {
        grid-template-columns: repeat(3, 1fr) !important;
    }
}

@media (max-width: 768px) {
    #mg-gallery ul.mg-gallery-list {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

@media (max-width: 375px) {
    #mg-gallery ul.mg-gallery-list {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}

#mg-gallery .mg-gallery-list li {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #ddd;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    margin: 5px;
    text-align: center;
    position: relative;
    box-sizing: border-box;
}

#mg-gallery .mg-gallery-list li img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* для админки */
.remove-img {
    float: right;
    width: 16px;
    height: 16px;
    background: url(../icons/red-delete-icon.png);
    cursor: pointer;
    margin: 8px 10px 0 0;
    position: absolute;
    right: 0;
}

.base-settings {
}

.img-settings {
}

.gal-sets-wrap {
    display: flex!important;
    flex-wrap: wrap;
    margin: 0 -15px -15px 0;
}

.img-settings, .base-settings {
    flex: 1 1 270px;
}

.add-product-form-wrapper {
    flex: 100%;
}

.order-fieldset__inner {
    padding: 16px;
}

.edit li {
    display: inline-block;
    padding: 0;
}

.edit {
    padding: 0;
}

.base-settings h4, .img-settings h4 {
    margin: 0;
}

.img-settings p {
    line-height: 15px;
    margin: 0;
    padding: 0;
}

#gal-name {
    margin-bottom: 11px;
}

.img-save {
    margin-bottom: 0 !important;
}

.reveal .reveal-body {
    padding: 15px;
    background-color: #f5f5f5;
}