.app-hide {display: none !important}
.app-show {display: block !important}
.app-panel {position: fixed; bottom: 20px; left: 50%; transform: translateX(-50%); z-index: 10000; text-align: center; font-weight: 500; font-size: 10px}
.app-panel .inner {backdrop-filter: blur(40px); text-shadow: 1px 1px 5px rgba(0,0,0,0.5); -webkit-backdrop-filter: blur(40px); height: 60px; border-radius: 30px; color: #fff; padding: 0 30px; gap: 20px}
.app-panel i {width: 30px; height: 30px; display: block; background: red; margin: 0 auto 5px auto}