
/* c-images
------------------------------------------------------------------- */
.c-images__big {
    position: relative;
    height: 400px;
    border: 1px solid #dadada;
    background: #fff;
}

.c-images {
    width: 100%;
}

@media (max-width: 989px) {
    .c-images__big {
        height: 300px;
    }
}

@media (max-width: 767px) {
    .c-images__big {
        height: 200px;
    }
}

.c-images__slider {
    margin-top: 10px;
}

.c-images__slider__item {
    position: relative;
    display: block;
    height: 100px;
    border: 1px solid #dadada;
    background: #fff;
    cursor: pointer;
}

@media (max-width: 989px) {
    .c-images__slider__item {
        height: 70px;
    }
}

.c-images__slider__item img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 6px;
}

.owl-item.current .c-images__slider__item {
    border-color: #f39c12;
    -webkit-box-shadow: inset 0 0 0 1px #f39c12;
    box-shadow: inset 0 0 0 1px #f39c12;
}

.c-images .fancy-modal:first-child {
    width: 100%;
    height: 100%;
}

.c-main-img__inner {
    height: 100%;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.c-main-img__wrap {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
    width: 100%;
    height: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.c-main-img__wrap:after {
    content: '';
    position: absolute;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
    -webkit-transition: .3s opacity;
    -o-transition: .3s opacity;
    transition: .3s opacity;
}

.c-images__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.c-images__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.c-main-img__wrap_zoomable:hover .c-main-img,
.c-main-img__wrap_zoomable:hover:after {
    opacity: 0;
    pointer-events: none;
}

/* Вложенные селекторы и important необходимы, чтобы перебить стили из других owl-carousel */
.c-main-img {
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    background: #fff;
    object-fit: scale-down;
    position: relative;
    z-index: 2;
    height: 100%!important;
}

.c-carousel__images {
    margin-top: 16px;
}

.c-carousel__images .owl-stage {
    display: block!important;
}