
.legals__section + .legals__section {
    margin-top: 30px;
}

.legals__title {
    font-size: 32px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 23px;
}

.legals__content {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

/* element */
@media(min-width: 0) {
    .element {
        padding: 15px;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .element {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 1280px) {
    .element {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    
    }
}

.element_active .element__inner {
    background: #000; color: #fff
}

.element__inner {
    position: relative;
    padding: 20px;
    border-radius: 2px;
    border: 1px solid #000;
    height: 100%;
}

.element__inner__colum {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.element__tab {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: none;
    font-size: 0;
    border: none; 
}

.element__item + .element__item {
    margin-top: 10px;
}

.element__item div + div {
    margin-top: 10px;
}

.element__default {
    margin-top: 10px;
    
}

.element-default {
    visibility: hidden;
    display: flex;
    justify-content: end;
}

.element_active .element-default,
.element-default_active {
    visibility: visible;
}

.element-default_active {
    color: #919191;
}

.element__button {
    position: relative;
    z-index: 1;
}

/* dropdown */
.dropdown {
    display: none;
}

.dropdown_active {
    display: block;
}

button {
    cursor: pointer;
    background: none;
    border: none;
}

.button-link {
    display: block;
    color: #1585cf;
    border-bottom: 1px dashed #1585cf;
}
.button-link:hover {
    border-color: transparent;
}